{% extends "base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
<div class="row">
 {% for hood in Neighbourhoods %}
 
  <!-- Grid column -->
 
<div class="card-deck">
    <!--Card-->
    <div class="card black-text mt-2">

      <!--Card image-->
      <div class="view">
        <img src="{{hood.neighbourhood_image.url}}" class="card-img-top" alt="photo">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body text-center black-text">
        <!--Title-->
        <h4 class="card-title black-text">{{hood.neighbourhood_name}} Neighbourhood</h4>
        <!--Text-->
        <p class="card-text black-text">{{hood.neighbourhood_location}} County</p>
        <p class="card-text black-text">Police contact info: {{hood.police_info}}</p>
        <p class="card-text black-text">Health services contact info: {{hood.health_department_info}}</p>
         <p class="card-text black-text">Occupants Count: {{hood.occupants_count}}</p>
          {% if not request.user.profile.neighbourhood %}
          <a href="{% url 'join' neighbourhood_id=hood.id %}" class="black-text">
          <i class="material-icons" >add</i><button class="btn peach-gradient btn-md black-text">Join Neighbourhood</button>
          </a>
        {% elif request.user.profile.neighbourhood == hood %}
          <a href="{% url 'leave' neighbourhood_id=hood.id %}">
          <i class="material-icons" >add</i><button class="btn peach-gradient btn-md">Leave Neighbourhood</button>
          </a>
        
          {% endif %}
          
      </div>

   
    <!--/.Card-->
    </div>
      {% endfor %}
     </div>
  
 
  </div>
{% endblock %}