<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light peach-gradient fixed-top">
<i class="fa fa-eye mr-2" aria-hidden="true"></i>
  <a class="navbar-brand" href="#">Hood.Watch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Neighbourhoods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
         <!-- Adding a search form  -->
      <li class=" navbar-right">

        <form class="navbar-form" role="search" action="#">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="project">
            <div class="input-group-btn">
              <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit"><i class="material-icons">search</i></button>
            </div>
          </div>

        </form>

      </li>
      <!-- search form end -->
    </ul>
    {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto nav-flex-icons">
          {% if request.user.profile.neighbourhood %}
            {% with request.user.profile.neighbourhood as hood %}
              <li class="nav-item">
                <a class="btn btn-block btn-outline-elegant navigation" href="{% url 'userneighbourhoods' %}">{{ hood.neighbourhood_name }} hood</a>
              </li>
          {% endwith %}
          {% endif %}
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'createpost' %}">Create Post</a>
          <a class="dropdown-item" href="{% url 'createhood' %}">Create Neighbourhood</a>
          <a class="dropdown-item" href="#">Join Neighbourhood</a>
          <a class="dropdown-item" href="{% url 'createbusiness' %}">Create Business</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
     
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      </ul>
    {% endif %}
  </div>
</nav>